@media(max-width: 1351px) {
    .container {
        max-width: 1200px;
    }

    .header-button {
        width: auto;
    }

    .frame{
        width: 600px;
        height: 621px;
    }

    .header-feedback {
        margin-left: 0px;
    }

    .header-logo {
        margin-left: 357px;
    }

    .header-wrapper {
        justify-content: space-between;
    }

    .main-title {
        font-size: 45px;
    }

    .title-image img {
        width: 570px;
    }

    .title-images img {
        width: 250px;
    }

    .title-images {
        margin-top: 35px;
    }

    .about-img3 img {
        width: 100%;
    }

    .about-img3 {
        width: 600px;
    }

    .about-description {
        padding: 20px;
        width: 270px;
        height: 200px;
    }

    .about-img1 {
        width: 280px;
    }

    .about-img1 img {
        width: 100%;
    }

    .place-title-list {
        margin-top: 35px;
        margin-right: 15px;
        width: 520px;
        list-style-type: none;
    }

    .how-to-place {
        align-items: center;
    }

    .place-image img {
        width: 640px;
    }

    .catalog-list {
        display: grid;
        grid-template-columns: repeat(2, 48%);
        text-align: center;
        gap: 40px 0;
    }

    .catalog-item img {
        width: 80%;
    }

    .contacts-block {
        display: grid;
        grid-template-columns: repeat(2, 49%);
        margin-top: 40px;
        gap: 20px 20px;
    }

    .comment-img-block {
        width: 100%;
        justify-content: center;
    }

    .comment-img-block img {
        width: 100%;
    }

    .ci2 {
        display: none;
    }

    .place1 {
        font-size: 14px;
    }
}

@media(max-width: 1201px) {
    .container {
        max-width: 991px;
    }

    .about-wrap3{
        display: none;
    }

    .arrowsVideo{
        display: none;
    }

    .title-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .title-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 40px;
    }

    .main-title {
        text-align: center;
    }

    .title-image {
        display: none;
    }

    .about-img3 {
        display: none;
    }

    .about-image-wrapp {
        display: flex;
        justify-content: center;
        padding-top: 45px;
    }

    .about-img1 {
        width: 300px;
    }

    .about-description {
        padding: 20px;
        width: 300px;
        height: 200px;
    }

    .about-img1 img {
        width: 100%;
    }

    .d1 {
        margin: 20px 0;
    }

    .about-wrap2 {
        margin-left: 20px
    }

    .about-us-title {
        text-align: center;
    }

    .place-image img {
        width: 100%;
    }

    .place-image {
        width: 50%;
    }

    .how-to-place {
        align-items: center;
    }

    .social-block {
        border-radius: 18px;
        background-image: url(../logos/social_bg.png);
        padding: 40px 30px 40px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 220px;
    }
}

@media(max-width: 992px) {
    .container {
        max-width: 768px;
    }

    .header-logo {
        margin-left: 0px;
    }

    .place-image {
        display: none;
    }

    .how-to-place {
        justify-content: center;
    }

    .place-title-list {
        margin-top: 35px;
        margin-right: 15px;
        width: 650px;
        list-style-type: none;
    }

    .place-title {
        text-align: center;
    }

    .catalog-title {
        text-align: center;
    }

    .contacts-title {
        text-align: center;
    }

    .vk,
    .wild,
    .ozon {
        padding: 23px 0px;
        font-size: 14px;
        width: 200px;
    }
}

@media(max-width: 769px) {
    .container {
        max-width: 575px;
    }

    .header-button {
        padding: 10px 15px 10px 15px;
        margin-left: 0px;
        margin-top: 5px;
    }

    .header-feedback {
        flex-direction: column;
    }

    .main-title {
        font-size: 40px;
        line-height: 46px;
    }

    .title-btn {
        margin-top: 38px;
    }

    .title-images img {
        width: 47%;
    }

    .catalog-item img {
        width: 93%;
    }

    .phone,
    .email,
    .adress {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .contacts-phone a,
    .contacts-email a,
    .contacts-adress {
        font-size: 16px;
        margin-top: 10px;
        text-align: center;
    }

    .contacts-info-block {
        text-align: center;
    }

    .contacts-button {
        padding: 20px 10px 20px 10px;
        margin-top: 45px;
    }

    .ci2 {
        display: none;
    }

    .comment-img-block {
        width: 100%;
        justify-content: center;
    }

    .comment-img-block img {
        width: 100%;
    }

    .arrow-right {
        margin-left: 5px;
    }

    .comment-usetname-title {
        flex-direction: column;
        align-items: center;
    }

    .next-username {
        margin-top: 10px;
    }

    .comment-description {
        color: #555;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 145%;
        margin-top: 20px;
    }

    .vk,
    .wild,
    .ozon {
        padding: 23px 0px;
        font-size: 14px;
        width: 140px;
    }

    .about-description {
        padding: 20px;
        width: 80%;
        height: auto;
        margin: 20px auto 0;
    }

    .about-img1 {
        width: 200px;
        margin-top: 20px;
        display: none;
    }

    .about-descr-description {
        color: #444;
        font-size: 12px;
        font-weight: 400;
        line-height: 19px;
        margin-top: 9px;
    }

    .about-wrap1,
    .about-wrap2,
    .about-wrap3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
    }

    .about-us {
        background-color: #F2F2F2;
        border-radius: 36px;
        padding: 40px 0 40px;
    }

    .place-title-list {
        margin-top: 35px;
        margin-right: 15px;
        width: 450px;
        list-style-type: none;
    }

    .about-image-wrapp {
        display: flex;
        /* justify-content: center; */
        /* padding-top: 45px; */
        flex-direction: column;
        align-items: center;
    }

    .about-wrap2 {
        margin-left: 0px;
        margin-top:20px
    }
}

@media(max-width: 576px) {

    .main-title {
        text-align:start;
    }

    .container{
        max-width: 100%;
    }

    .header-wrapper{
        justify-content: space-around;
    }

    .header-menu{
        display: none;
    }

    /* .d1 {
        margin: 10px 0;
    } */

    .about-wrap2 {
        margin-left: 10px;
    }

    .about-img1 {
        margin-top: 10px;
    }

    .place-title-list {
        margin-right: 0px;
        width: 95%;
    }

    .content-item2 {
        padding: 15px 15px;
        height: auto;
        width: 100%;
    }

    .catalog-list {
        grid-template-columns: repeat(1, 98%);
    }

    .contacts-block {
        display: grid;
        grid-template-columns: repeat(1, 98%);
        margin-top: 40px;
        gap: 20px 20px;
    }

    .phone, .email, .adress {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .comment-usetname-title {
        flex-direction: row;
        align-items: center;
    }

    .social-list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: center;
        text-align: center;
    }

    .vk, .wild, .ozon {
        width: 100px;
    }

    .social-title {
        color: var(--unnamed, #444);
        font-size: 22px;
        text-align: center;
    }

    .title-images{
        display: none;
    }

    .img-mobile-block{
        display: flex !important;
        flex-direction: column;
        width: 300px;
        margin-top: 45px;
    }

    .place1{
        font-size: 16px;
    }

    .footer-list {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-item{
        margin-top: 20px;
    }

    .footer-item, .footer-item a {
        font-size: 18px;
    }

    .vk, .wild, .ozon {
        padding: 23px 0px;
        font-size: 18px;
        width: 100%;
        margin: 10px 0;
    }

    .social-block {
        height: auto;
        border-radius: 0;
        background-position-x: 120px;
    }

    .main-title {
        font-size: 32px;
    }

    .content-item1 {
        margin-right: 5px;
    }
}

@media(max-width: 440px) {
    /* .about-description {
        padding: 10px;
        width: 150px;
        height: 250px;
        text-align: center;
        padding: 10px 10px 0;
    } */

    /* .about-descr-title {
        font-size: 14px;
        text-align: center;
    } */

    .about-img1 {
        width: 150px;
    }

    /* .about-descr-description {
        text-align: center;
    } */

    .place-title-list {
        margin-right: 0px;
    }

    .title-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0px;
    }

    .contacts-info-block{
        text-align: left;
    }

    .contacts-phone a, .contacts-email a, .contacts-adress {
        text-align: left;
    }
}