* {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
}

.frame{
    width: 650px;
    height: 673px;
}

a {
    text-decoration: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Golos Text', sans-serif;
}

button:hover{
    background-color: #E33540;
    color: #fff;
    border: 0px;
}

.container {
    max-width: 1350px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    cursor: pointer;
    border-radius: 8px;
}

@keyframes ani {
    0% {
        opacity: 0;
        transform: translateY(10vw);
    }

    100% {
        opacity: 1;
        transform: translateY(0vw);
    }
}

@keyframes anis {
    0% {
        opacity: 0;
        transform: translateX(-10vw);
    }

    100% {
        opacity: 1;
        transform: translateX(0vw);
    }
}

@keyframes aniss {
    0% {
        opacity: 0;
        transform: translateX(10vw);
    }

    100% {
        opacity: 1;
        transform: translateX(0vw);
    }
}

.square-animation{
    animation: aniss 0.75s forwards;
}

.square-animation-rev{
    animation: anis 0.75s forwards;
}

.square-animation-bottom{
    animation: ani 0.75s forwards;
}

.estimation-stars{
display:flex;
}

.next-username{
display:flex;
}

.next-username img{
width: 20px;
height: 10px;
}

/* HEADER */

.img-mobile-block{
    display: none !important;
}

.header-wrapper {
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    align-items: center;
    padding: 11px 0 17px;
}

.header-menu {
    padding: 17px 16px 18px 15px;
    background-color: #F34B56;
    border-radius: 8px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.line-block {
    width: 19px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-line {
    width: 20px;
    height: 1px;
    /* border-bottom: 1px solid #fff; */
    background-color: #fff;
}

.line1:hover {
    width: 13px;
}

.header-feedback {
    display: flex;
    align-items: center;
    margin-left: 225px;
}

.header-phone {
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    color: #444;
}

.header-button {
    padding: 16px 30px 16px 30px;
    background-color: #fff;
    border: 1px solid #666;
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin-left: 40px;
    width: 183px;
}

.header-logo {
    margin-left: 557px;
}

/* MAIN */

/* TITLE SECTION */

.title-wrapper {
    padding: 19px 0 80px;
    display: flex;
    justify-content: space-between;
}

.main-title {
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 55px;
    font-weight: 600;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    margin-top: 31px;
    color: #444;
}

.title-btn {
    padding: 18px 34px 18px 29px;
    background-color: #F34B56;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    color: #fff;
    margin-top: 33px;
}

.title-images {
    margin-top: 59px;
    opacity: 0;
    animation: ani 0.75s forwards;
}

.title-images img {
    opacity: 0;
    animation: anis 0.75s forwards;
}

.ti-1 {
    margin-left: 15px;
}

.title-image{
    animation: aniss 0.75s forwards;
}

.title-image img{
    animation: ani 0.75s forwards;
}

/* .title-images3 {
    opacity: 0;
} */

/* ABOUT-US SECTION */

.about-us {
    background-color: #F2F2F2;
    border-radius: 36px;
    padding: 80px 0 80px;
}

.about-us-title {
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 45px;
    font-weight: 600;
    line-height: 45px;
    color: #444;
}

.about-image-wrapp {
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
}

.about-wrap1,
.about-wrap2,
.about-wrap3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.about-description {
    width: 315px;
    height: 211px;
    padding: 30px;
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 0px 0px 15px 0px #4444440D;
}

.about-img1 img {
    width: auto;
}

.about-img1{
    opacity: 0;
}


.about-img3{
    opacity: 0;
}

.about-descr-title {
    color: #444;
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 15px;
}

.about-descr-description {
    color: #444;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    margin-top: 9px;

}

.d1 {
    height: 230px;
}

.arrowsVideo{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
    position: absolute;
    top: 50%;
    left: 0;
}

 .about-wrap3:hover #arrowsVideo{
    display: flex;
}

.about-wrap3{
    position: relative;
    opacity: 0;
}

.video-arrow-left, .video-arrow-right{
    cursor: pointer;
}

.video-arrow-right{
    margin-left: 30px;
}

/* SECTION HOW-TO-PLACE */

.place-image{
    opacity: 0;
}

.how-to-place {
    padding: 80px 0 75px;
    display: flex;
    justify-content: space-between;
}

.place-title {
    color: var(--unnamed, #444);
    font-family: Ysabeau SC;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 132%;
    text-transform: uppercase;
}

.place-title-list {
    margin-top: 35px;
    width: 650px;
    list-style-type: none;
    opacity: 0;
}

.place-title-item {
    display: flex;
}

.content-item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.place-line {
    margin-top: 10px;
}

.content-item2 {
    border-radius: 0px 9px 9px 9px;
    background: var(--unnamed, #F2F2F2);
    padding: 28px 30px;
    width: 100%;
    height: 100%;
}

.pti1 {
    margin-top: 21px;
}

.place1 {
    color: #444;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.place_a1,
.place_a2 {
    color: #F34B56;
}

.place_a1 {
    border-bottom: 1px solid #F34B56;
}

/* CATALOG SECTION */

.catalog {
    padding: 80px 0;
    border-radius: 36px;
    background: #F2F2F2;
}

.catalog-title {
    color: var(--unnamed, #444);
    font-family: Ysabeau SC;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
}

.catalog-list {
    display: grid;
    grid-template-columns: repeat(3, 427px);
    gap: 40px 20px;
    list-style-type: none;
    margin-top: 45px;
}

.catalog-item-title {
    color: var(--unnamed, #444);
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 15px;
}

.catalog-item-title a{
    text-decoration: none;
    color: var(--unnamed, #444);
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 15px;
}

.block-btn {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.catalog-button {
    padding: 20px 29px;
    border-radius: 8px;
    background: var(--unnamed, #F34B56);
    color: var(--unnamed, #FFF);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.contacts-section {
    padding: 90px 0 40px;
}

/* CONTACTS SECTION */

.contacts-title {
    color: var(--unnamed, #444);
    font-family: Ysabeau SC;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
}

.contacts-block {
    display: grid;
    grid-template-columns: repeat(2, 650px);
    margin-top: 40px;
    gap: 0 20px;
}

.contacts-info-block {
    border-radius: 18px;
    background: var(--unnamed, #F2F2F2);
    padding: 30px;
    opacity: 0;
}

.phone,
.email,
.adress {
    display: flex;
    align-items: center;
}

.contacts-phone a,
.contacts-email a,
.contacts-adress {
    text-decoration: none;
    color: var(--unnamed, #444);
    font-family: Golos;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    margin-left: 17px;

}

.email,
.adress {
    margin-top: 18px;
}

.phone {
    margin-top: 40px;
}

.contacts-button {
    padding: 20px 34px 20px 29px;
    border-radius: 8px;
    background: var(--unnamed, #F34B56);
    color: var(--unnamed, #FFF);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    margin-top: 85px;
}

.comments-block {
    border-radius: 18px;
    background: var(--unnamed, #F2F2F2);
    padding: 30px;
    opacity: 0;
}

.comment-usetname-title {
    display: flex;
    justify-content: space-between;
}

.username {
    color: var(--unnamed, #444);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.arrow-left, .arrow-right{
    cursor: pointer;
}

.video-arrow-right {
    cursor: pointer;
    position: absolute;
    left: 80%;
}

.video-arrow-left {
    cursor: pointer;
    position: absolute;
    left: 5%;
}

.estimation-date {
    color: #898989;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 10px;
}

.comment-estimation {
    display: flex;
    margin-top: 12px;
}

.comment-description {
    color: #555;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    margin-top: 20px;
}

.comment-img-block {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.social-block {
    border-radius: 18px;
    background-image: url("../logos/social_bg.png");
    padding: 50px 273px 55px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 220px;
    opacity: 0;
}

.social-list {
    list-style-type: none;
    display: flex;
    margin-top: 30px;
}

.social-title {
    color: var(--unnamed, #444);
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.social-item {
    width: 240px;
    border-radius: 7px;
    cursor: pointer;
    text-align: center;
}

.vk {
    background: #447BBA;
    padding: 23px 27px;
    color: var(--unnamed, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.81px;
}

.wild {
    background: linear-gradient(90deg, #B72BA4 0%, #441670 100%);
    padding: 23px 40px;
    color: var(--unnamed, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.81px;
}

.ozon {
    background: #2155E9;
    padding: 23px 27px;
    color: var(--unnamed, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.81px;
}

.wild,
.ozon {
    margin-left: 30px;
}

/* FOOTER */

.footer-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.footer-item,
.footer-item a {
    color: var(--unnamed, #444);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer {
    margin-bottom: 30px;
}

.arrow {
    margin-left: 15px;
}

.estimation-stars{
    display: flex;
    width: 94px;
}

.iframe-block iframe{
    border-radius: 18px;
}

#slick-active11 button{
    background: #F34B56;
}

#dots-stile-title{
    left: 43%;
    top: 90%;
}

.ad1{
    height: 200px;
}